/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Primary Color (Turquoise): #357b70;
Secondary Color (Orange): #e0b354;
Dark Grey : #2b2b2b
Background Color (Lightgray): #D3D3D3;
Text Color Light (White): #FFF;
Text Color Dark (Black): #000;

*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  margin:0 auto;
  width: 100%;
  background-color: rgb(255, 245, 233);
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
  padding: 80px;
  margin: 10px;
  margin: 0 auto;
  text-align: center;
}

/*START OF TEXT STYLING */

h1 {
  font-size: 50px;
  max-width: 700px;
  margin: 0 auto;
  font-weight: 700;
  color: #000;
  display: inline-block;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
}
h3 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  font-style: italic;
}

p {
  color: #000;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

/* #### END OF Text styling #### */

/* #### START OF Link styling #### */

a {
  color: #000;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

/* a:visited {
  color: #7b0000;
} */
a:active {
  color: #000000;
}

/* #### END OF Link styling #### */

/* #### START OF Header styling #### */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #ffe25f;
}

.page-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 50px;
  height: 50px;
  position: relative;
}
.page-header .page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
/* #### END OF Header styling #### */

 /* #### START OF Navigation styling #### */

 .navigation-list {
   list-style-type: none;
 }
 .navigation-list li {
   display: inline-block;
   margin-left: 15px;
 }

 .navigation-list__item {
   color: #000000;
   font-weight: bold;
 }
 .navigation-list__item--active {
   text-decoration: none;
 }

/* #### END OF Navigation styling #### */

/* #### START OF Button styling #### */

.button{
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #e0b354;
  color: #000;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #e0b354;
  color: #000
}

/* #### END OF Button styling #### */

/* #### START OF Img styling #### */

.shortcut-icon {
  width: 30px;
  height: 30px;
}

.profile__portrait {

  width: 400px;
  border-radius: 30%;
  margin-bottom: 20px;
  text-align: left;
}

.profile__text {
  text-align: center;
}

.checkout {
text-decoration: underline;
font-size: 24px;
}


/* #### END OF img styling #### */

/* #### START OF About Page styling #### */

.picture-about {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  margin-bottom: 20px;

}
.about {
  max-width: 700px;
  margin: auto;
  text-align: center;
  color: #000;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
}

.about-title {
  font-size: 60px;
}
.about-list {
  list-style-type: none;
}

.about-list__item {
  margin-left: -30px;
  text-align: center;

}

.asterix {
  font-size: 42px;
}
.about-programming {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  border-bottom: 15px;
}

.about-text {
  font-style: italic;
}

.programming-skills {
  font-weight: bold;
}

.about-language {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  border-bottom: 15px;
}

#download-my-cv {
  background-color: #ffffff;
  border-radius: 10%;
}
  /* #### START of Animation Styling #### */
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

  /* #### START of Animation Styling #### */
/* #### END OF About Page styling #### */

/* #### START OF Contact Page styling #### */


.contact-main {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

}

.contact-title {
  font-size: 70px;
}

.contact-list {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: #000;
}
.contact-form {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

/* #### END OF Contact Page styling #### */

/* #### START OF Work Page styling #### */

.work {
  display: grid;
  justify-content: space-around;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 70px;
}

.work-title {
  font-weight: bold;
}

.work_screenshot {
max-width: 70%;
}



/* #### END OF Work Page styling #### */

/* START grid fallback */
/* .grid__item {
  background-color: #D3D3D3;
  display: inline-block;
  width: 33%;
  padding-left: 20px;
  border-radius: 5%;
} */
/* END grid fallback */

/* #### START OF Grid styling #### */



.grid__item {
  background-color: #d6d6d6;
  max-width: 800px;
  max-height: 800px;
  margin: 0;
  text-align: center;
  border-radius: 5%;
}

.created_using {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.created_using_item {
  text-align: center;
}
.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.grid__item:last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
  padding-bottom: 15px;
}

.see-project {
  text-decoration: underline;
  font-size: 16px;
}

/* #### END OF Grid styling #### */

/* #### START of Footer styling #### */

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  min-height: 0;
  background-color: #ac4b1e;
  line-height: 0;
  margin-top: 20px;
  padding-bottom: 15px;
}

.footer-img {
  height: 30px;
  width: 30px;
  -webkit-transition-property: width-height;
  -o-transition-property: width-height;
  transition-property: width-height;
}

/* #### END of Footer styling #### */

/* #### START of @supports #### */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin: 0;
    padding-bottom: 50px;
    justify-content: space-evenly;
  }
}

/* #### END of @supports #### */

/* #### START of @media #### */

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 90px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px;
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {

  }
}
/* #### END of @media #### */

/* #### START of @keyframes #### */

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

/* #### END of @keyframes #### */
